*{
    margin:0
}
.container-home{
    display: flex;
    flex-direction: column;
}
/* Contenedor Head */
.container-head{
    /* border:2px solid red; */
    padding-bottom: 3.7cm;
    background-image: linear-gradient(to right bottom, #051937, #1c1e4a, #392059, #591c63, #7b0e65);
}

/*Barra de búsqueda */
.container-searchBar{
    position:absolute ;
    top:50px;
    left:400px;
    display:flex;
}
/* Contenedor de botones */
.container-button-home{
    position:absolute;
    right:2.5cm;
    top:40px;
    display: flex;
    /* Ajustamos el espacio entre los botones */
    justify-content: space-between;
    /* border:2px solid white; */
    
}

/* Bottón crear */
.button-create{
    margin-right:10px;
    border-right:2px solid white;
      
}
.createButton{
    background-color: transparent; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.5s;
    
}
.createButton:hover{
    font-size: 17px;
    transition: font-size 0.5s;
    
}
/* Bottón recargar */
.rechargeButton{
    background-color: transparent; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.5s;
    width: 100px;
    height: 50px;
    
}

.rechargeButton:hover{
    font-size: 17px;
    transition: font-size 0.5s;
    
}


/* Buttons-prev-next */
.buttons-paginated-prev-next{
    display: flex;
/*    border: 2px solid red; */
   justify-content: center;
   padding-top: 15px;
   margin-bottom: 0;
   padding-bottom: 0;
}
.text-currentPage{
    cursor:default;
}

/* next */
.arrow-next{
    cursor: pointer;
    height: 60px;
    left: 50%;
    display: flex;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.1s;
    width: 13px;
    margin-left:40px ;
    margin-top: 11px;
  }
  
  .arrow-top-next, .arrow-bottom-next {
    background-color: rgb(212, 212, 212);
    height: 4px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  
  .arrow-top-next:after, .arrow-bottom-next:after {
    background-color: purple;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
  }
  
  .arrow-top-next {
    transform: rotate(45deg);
    transform-origin: bottom right;
  }
  
  .arrow-top-next:after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
  }
  
  .arrow-bottom-next {
    transform: rotate(-45deg);
    transform-origin: top right;
  }
  
  .arrow-bottom-next:after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
  }
  
  .arrow-next:hover .arrow-top-next:after {
    left: 0;
    transition-delay: 0.15s;
  }
  
  .arrow-next:hover .arrow-bottom-next:after {
    right: 0;
    transition-delay: 0s;
  }
  
  .arrow-next:active {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
  }

  /* prev */

  .arrow-prev{
    cursor: pointer;
    height: 60px;
    right: 50%;
    display: flex;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    transition: transform 0.1s;
    width: 13px;
    margin-right:40px ;
    margin-top: 11px;
  }
  
  .arrow-top-prev, .arrow-bottom-prev {
    background-color: rgb(212, 212, 212);
    height: 4px;
    right: -5px;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  
  .arrow-top-prev:after, .arrow-bottom-prev:after {
    background-color: purple ;
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    transition: all 0.15s;
  }
  
  .arrow-top-prev {
    transform: rotate(-45deg);
    transform-origin: bottom left;
  }
  
  .arrow-top-prev:after {
    left: 0;
    right: 100%;
    transition-delay: 0.15s;
  }
  
  .arrow-bottom-prev {
    transform: rotate(45deg);
    transform-origin: top left;
  }
  
  .arrow-bottom-prev:after {
    left: 100%;
    right: 0;
    transition-delay: 0s;
  }
  
  .arrow-prev:hover .arrow-top-prev:after {
    right: 0;
    transition-delay: 0.15s;
  }
  
  .arrow-prev:hover .arrow-bottom-prev:after {
    left: 0;
    transition-delay: 0s;
  }
  
  .arrow-prev:active {
    transform: translateX(50%) translateY(-50%) scale(0.9);
  }

  /* Cards */
.cards{
    min-height: 700px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #FFF6FF;
}

#link-card{
    text-decoration: none;
}

.cards > div {
    width: 19%;
    box-sizing: border-box;
    margin: 0 8px 8px 0;
  }
/* Filters */
.container-filters{
    background-color: transparent;
    padding: 10px 155px;
    margin:0;
    border-bottom: 1px solid black;
    
}
.filters{
    padding-top: 5px;
    padding-bottom: 5px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
}

  
  .filters label {
    margin-right: 10px;
    font-weight: bold;
    font-size: 0.9em;
  }
  
  .filters select {
    margin-right: 10px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 0.9em;
  }

/* Paginated */
.paginated{
    align-items: center;
    justify-content: center;
}