@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.home {  
    position: relative;
    background: url('../Images/atardecer-landing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Dancing Script', cursive;
}

.container_title{
    text-align: center;
    padding: 70px;
    position: relative;
    top:180px;
    /*  border: 2px solid red;  */
}
.text_countries{
    /* border:2px solid blue; */
    color: white;
    font-size: 3.5rem;
    cursor: default;
}
.container-button{
     /* border: 2px solid red;  */
    position: relative;
    top: 300px;
}
.custom-btn{
    width: 130px;
    height: 40px;
    color: #fff;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    font-size: 25px;
  } 
  
  .btn-16 {
    border: none;
    color: #000;
  }
 
  .btn-16:hover {
    color: #fff;
  }
  .btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
